.main,
.side {
  height: calc(100vh - 55px);
  overflow-y: auto;
}

.not-found {
  margin: 30px;
}

.section {
  margin: 0 $block-out-spacer 30px;

  & + & {
    margin-top: $block-out-spacer * 1.5;
  }
}

.nav {
  margin-right: 0;
}

.content {
  flex: 1;

  @media screen and (max-width:719px) {
    margin-left: -$side-width;
  }

  >.markdown-body {
    max-width: 746px;
  }
}
