// color, will be move to theme
$alabaster: #fafafa;
$gallery: #eaeaea;
$gray: gray;
$black: #000;
$white: #fff;
$rose: #ff0080;
$azure-radiance: #067df7;
$blue: blue;

// block
$block-inner-spacer: 12px;
$block-neer-spacer: 20px;
$block-out-spacer: 30px;

// typography
$font-family: Ubuntu, Arial, sans-serif;

// transition
$transition-base: all .2s ease;