.idea
.DS_STORE
.eslintcache
.vscode
*.swp
*~

/node_modules

/packages/*/build/
/packages/*/coverage/
/packages/*/node_modules/
/packages/*/package-lock.json

package-lock.json
lerna-debug.log
npm-debug.log
npm-debug.log*
yarn-error.log*