.idea
.DS_STORE
.eslintcache
.vscode
.temp
.nana
*.swp
*~

/node_modules

/packages/*/build/
/packages/*/coverage/
/packages/*/node_modules/
/packages/*/package-lock.json
/packages/*/yarn.lock

package-lock.json
lerna-debug.log
npm-debug.log
npm-debug.log*
yarn-error.log*

siteData.js