.color {
  $size: 40px;
  @include transition;
  @include box-shadow;
  @include size($size);
  @include border-radius($size);

  background-color: currentColor;

  & + & {
    margin-left: 10px;
  }

  &:hover {
    @include box-shadow(0 0 10px 0 $typo-dark);
  }


  @each $color in $colors {
    &:nth-child(#{index($colors, $color)}) {
      color: $color;
    }
  }
}


.nav {
  position: fixed;
  top: 0;
}
