.navbarstyle {
  background-color: #fff;
  border-bottom: 1px solid rgb(238, 238, 238);
  // border-top: 4px solid rgb(96, 96, 96);
  // box-shadow: rgba(0, 0, 0, 0.14) 0 0 4px 0;
  box-sizing: border-box;
  display: flex;
  font-size: 14px;
  font-weight: 600;
  left: 0;
  padding: 0 20px;
  position: fixed;
  top: 0;
  width: 100%;
}

.navstyle {
  color: rgb(0, 0, 0);
  line-height: 54px;
  padding-left: 18px;
  padding-right: 18px;
  @media screen and (max-width:719px) {
    display: none;
  }
}

.side-mask {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 14;
}
