.columns {
  display: flex;
  margin-top: 59px;

  >div {
    box-sizing: border-box;
    // max-height: calc(100vh - 64px);
    overflow-y: auto;
  }

  &.is-between { justify-content: space-between; }
}

.column {
  flex: 1 1 auto;
  padding: $block-inner-spacer;
}

@for $i from 1 through 12 {
  .column-#{$i} {
    @include make-column($i, 12);
  }
}
