.section {
  margin: 32px $block-out-spacer;

  & + & {
    margin-top: $block-out-spacer * 1.5;
  }
}

.nav {
  margin-right: 0;
}

.content {
  flex: 1;
  margin-left: 18rem;

  @media screen and (max-width:719px) {
    margin-left: 0;
  }

  >.markdown-body {
    max-width: 746px;
  }
}
