.main,
.side {
  height: calc(100vh - 55px);
  overflow-y: auto;
}

.section {
  margin: 32px $block-out-spacer;

  & + & {
    margin-top: $block-out-spacer * 1.5;
  }
}

.nav {
  margin-right: 0;
}

.content {
  flex: 1;

  @media screen and (max-width:719px) {
    margin-left: -$side-height;
  }

  >.markdown-body {
    max-width: 746px;
  }
}
