.nav-label-item {
  line-height: 1.6;
  
  &.level-1 {
    font-weight: 300;
    letter-spacing: 1.3px;
    margin-bottom: 10px;
  }

  &.level-1,
  &.level-2.has-child {
    color: $typo-dark;
  }

  &.level-2.has-child>a {
    color: $typo-dark;
  }

}

.nav-label-item + .nav-label-item {
  margin-top: 16px;
}

@for $i from 3 through 6 {
  .nav-label.level-#{$i} {
    padding-left: ($i - 2) * 12px;
  }
}

.label-post {
  counter-increment: deep;
  line-height: 2;

  > .label-post {
    margin-left: 15px;
    margin-top: 0;
  }

  > .label { letter-spacing: normal; }
  .label { margin-top: 1.5 * $block-out-spacer; }
}
