$mobile-max-width: 719px;

.mobile-bar {
  color: #000;
  cursor: pointer;
  display: none;
  font-size: 20px;
  line-height: 54px;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  z-index: 15;
  @media screen and (max-width: $mobile-max-width) {
    display: block;
  }
}
