$main-color: rgb(120, 24, 105);
$mobile-max-width: 719px;

.navbarstyle {
  background-color: #fff;
  border-bottom: 1px solid rgb(238, 238, 238);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  font-size: 14px;
  font-weight: 600;
  justify-content: space-between;
  left: 0;
  padding: 0 20px;
  width: 100%;
}

.navstyle {
  color: rgb(0, 0, 0);
  line-height: 54px;
  padding-left: 18px;
  padding-right: 18px;
  text-decoration: none;
  @media screen and (max-width: $mobile-max-width) {
    display: none;
  }
}

.nav-left {
  display: flex;
}

.mobile-bar {
  color: #000;
  cursor: pointer;
  display: none;
  font-size: 20px;
  line-height: 54px;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  z-index: 15;
  @media screen and (max-width: $mobile-max-width) {
    display: block;
  }
}


.navstyle:hover {
  color: $main-color;
  text-decoration: none;
}

.side-mask {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 14;
}
