$main-color: rgb(120, 24, 105);

%item-paddinger {
  padding: 0.5rem 0 0.5rem 1.5rem;
}

%item-wrap-paddinger {
  padding: 1.2rem 0 0.75rem;
}
  

.fullwidth {
  width: 100%;
}

.sidebar {
  display: flex;
  flex-direction: column;
  font-weight: 600;
}

.side {
  background-color: #fff;
  border-right: 1px solid #eaecef;
  overflow-y: auto;
  width: 18rem;
  z-index: 1;
  
  @media screen and (max-width: 959px) {
    width: $side-width;
  }
  @media screen and (max-width: 719px) {
    transform: translateX(-100%);
    transition: transform 0.2s ease;
    z-index: 15;
  }
}

.sidebar-open {
  transform: translateX(0);
}

.sidebar-top {
  @extend %item-wrap-paddinger;
  border-bottom: 1px solid #eaecef;
  display: none;
  @media screen and (max-width: 719px) {
    display: block;
  }
}

.sidebar-top {
  .navstyle {
    @extend %item-paddinger;
    font-size: 1.1rem;
    line-height: 1.25rem;
    @media screen and (max-width: 719px) {
      display: block;
    }
  }
}

.sibar-bottom {
  padding: 1.8rem 0;
}

.nav-label-item {
  @extend %item-paddinger;
  font-size: 0.8125rem;
  padding-bottom: 0;
  padding-top: 0;
}
