// color, will be move to theme
$white: #fff;
$alabaster: #fafafa;
$gallery: #eaeaea;
$black: #000;
$rose: #ff0080;
$aquamarine: #79ffe1;
$electric-violet: #bd10e0;
$azure-radiance: #067df7;

$colors: (
  $white
  $alabaster
  $gallery
  $black
  $rose
  $aquamarine
  $azure-radiance
);

// layout
$side-width: 18rem;

// block
$block-inner-spacer: 12px;
$block-neer-spacer: 20px;
$block-out-spacer: 38px;

// transition
$transition-base: all 0.2s ease;

// box-shadow
$box-shadow-base: 0 0 20px 2px shade($white, 11.11);
