//- Section
mixin section(title)
  section.section
    if title
      h2= title
    block

//- Card
mixin card(title, statu)
  .card(class="is-" + statu)
    .card-body
      block
    .card-title= title