.button {
    cursor: pointer;
    border: $border-default;
}
.button.icon {
    @include transition;
    width: 16px; 
    height: 16px;
    line-height:16px;
    text-align: center;
    color: $typo-dark;
    border-color: currentColor;
    &:hover {
        color: $azure-radiance;
    }
}