.label {
  color: $typo-dark;
  font-weight: 300;
  letter-spacing: 1.3px;

  > a {
    color: $typo-dark;
  }

  + .label-post {
    margin-top: $block-inner-spacer;
  }
}

.label-post {
  counter-increment: deep;
  line-height: 2;

  > .label-post {
    margin-left: 15px;
    margin-top: 0;
  }

  > .label { letter-spacing: normal; }
  .label { margin-top: 1.5 * $block-out-spacer; }
}
