// Because this is a example, will be move to layout

.window {
  @include box-shadow;
  border: $border-default;
  border-radius: 4px;
}

.window-bar {
  @include border-top-radius(4px);
  background-color: $window-bar-bg-color;
  border-bottom: $border-default;
  color: $window-bar-color;
  line-height: $window-bar-height;
  text-align: center;
}

// .window-box {
// }

.window-bottom {
  @include border-bottom-radius(4px);

  background-color: $window-bar-bg-color;
  border-top: $border-default;
  color: $typo-dark;
  height: 24px;
  padding-left: 4px;

  .icon {
    font-size: 16px;
    text-align: center;
    width: 24px;
  }

  .tag {
    @include transition;

    &:hover,
    &.selected {
      color: $azure-radiance;
    }

    + .tag {
      margin-left: $block-inner-spacer / 2;
    }

    span {
      font-size: 11px;
    }
  }
}


%item {
  background-color: $window-item-bg-color;
  // margin-left: -$block-inner-spacer;
  // margin-right: -$block-inner-spacer;
  padding: $block-inner-spacer / 2 $block-inner-spacer;
}

.window-item {
  @extend %item;
  color: $typo-dark;
}

.window-box > .columns > * { height: 400px; }

.expolorer {
  background-color: $window-bar-bg-color;
  border-right: $border-default;
  line-height: 200%;

  .item {
    @extend %item;
    @include transition(border-width .1s linear);
    background-color: $window-bar-bg-color;
    border-left: 0 solid $azure-radiance;

    &:hover {
      background-color: $window-item-hover-color;
      border-left-width: 2px;
    }

    &.selected {
      background-color: $window-item-hover-color;
      &:hover { border-left: 0; }
    }
  }
}
