doctype html
html(lang='en')
  include includes/head.pug
  include includes/mixin.pug
  body.columns
    include includes/nav.pug
    main.column-8
      +section("Layouts")
        +section
          | The <code>Helenae.scss</code> is a css framework for electron application.
          | Emm, first version just think about server for Lidis.

        +section
          .window
              .window-bar Helenae.scss
              .window-box
                .columns
                  .column-3.column.expolorer
                    .columns.is-between.window-item
                      span EXPOLORER
                      .columns.is-between
                        .button.icon.ion-social-buffer
                    .item First Man
                    .item.selected Second Man
                    .item Third Man
                    .item Fourth Man
                    .item Fiyth Man
                  .column-9

    script(src='../src/index.js')