$main-color: rgb(120, 24, 105);

.search-box {
  line-height: 54px;
  position: relative;
}

.search-box input {
  background-color: #fff;
  background-size: 1rem;
  border: 1px solid $main-color;
  border-radius: 2rem;
  color: $main-color;
  cursor: text;
  display: inline-block;
  line-height: 2rem;
  outline: none;
  padding: 0 0.5rem 0 2rem;
  transition: all 0.2s ease;
  width: 10rem; 
}

@media screen and (max-width: 545px) {
  .search-box input {
    border-color: transparent;
    width: 0;
  }

  .search-box input:focus {
    border-color: $main-color !important;
  }

  .search-box {
    cursor: pointer;    
  }
}

.full-width-input {
  border-color: #eee !important;
  width: 10rem !important;
}

.search-icon {
  left: 0.8rem;
  line-height: 54px;
  position: absolute;
}

.search-results {
  background-color: #fff;
  border: 1px solid #eaecef;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-top: -6px;
  padding: 5px 8px;
  position: absolute;
  right: 0;
  width: 20rem;
  @media screen and (max-width: 20rem) {
    width: 16rem;
  }
}

.result-item {
  border-radius: 8px;
  cursor: pointer;
  display: block;
  line-height: 1.8rem;
  text-align: start;

  a {
    margin: 5px 8px;
    text-decoration: none;
  }
}

.result-item:hover {
  background-color: #eee;

  a {
    color: $main-color;
  }
}

.full {
  display: inline-block;
  height: 100%;
  width: 100%;
}



