.columns {
  display: flex;
  align-items: center;
}

.column {
  padding: $block-inner-spacer;
  box-sizing: border-box;
  flex: 1 1 auto;
}

@for $i from 1 through 12 {
  .column-#{$i} {
    @include make-column($i,12);
  }
}


.columns.is-between {
  justify-content: space-between;
}